h1{ 
	text-align: center;

	font-size: 45px;
	font-family: 'Russo One', sans-serif;
}
.submit{

	font-family: 'Russo One', sans-serif;
	text-decoration: none;
	font-size: 30px;
	color: black;
	background-color: orange;
	border-radius: 5px;
	border: 2px solid;
}
.submit:hover {
	background-color: green;
	border-radius: 5px;
	border: 2px solid;
}
.sub{
	top: 50px;
    right: 50px;
    transform: translate(830px, 0px);
}




.block {
	border: 3px solid;
	background-color: grey;
}